/*Za centriranje celog sadržaja */
.chat-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #76b2fe, #b69efe);
  }
  
  /* Glavni kontejner za chat */
  .chat-container {
    display: flex;
    background-color: #1e1e2f;
    border-radius: 15px;
    overflow: hidden;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    height: 600px; /* Povećana visina */
  }
  
  /* Sidebar sa listom chatova */
  .sidebar {
    width: 30%;
    background-color: #252836;
    padding: 20px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar h2 {
    margin-bottom: 20px;
  }
  
  .chat-list {
    margin-top: 10px;
    flex-grow: 1;
    overflow-y: auto;
  }
  
  .chat-item {
    padding: 15px;
    background-color: #2b2e44;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-item:hover {
    background-color: #383b52;
  }
  
  /* Desna strana sa otvorenim chatom */
  .chat-content {
    width: 70%;
    background-color: #1e1e2f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  
  .chat-header {
    padding: 10px;
    background-color: #5a67d8;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
  }
  
  .message-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .message-item {
    background-color: #2f3640;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    max-width: 70%;
    word-wrap: break-word;
    position: relative;
  }
  
  .message-item.user {
    align-self: flex-end;
    background-color: #2aa338;
  }
  
  /* Poruke koje primate */
  .message-item:not(.user) {
    align-self: flex-start;
    background-color: #2f3640;
  }
  
  /* Stilizovanje inputa za poruku i dugmeta */
  .message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;  
    gap: 30px;  
    background-color: #252836; 
    border-radius: 10px;
  }
  
  .message-input {
    flex: 4; 
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #2f3640;
    color: #ffffff;
  }
  
  .send-button {
    flex: 1; 
    padding: 8px 15px; 
    background-color: #00cd37;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: auto;
  }
  
  .send-button:hover {
    background-color: #007700;
  }
  
  .message-input::placeholder {
    color: #888;
  }
  
  .chat-item.active {
    background-color: #383b52;
    font-weight: bold;
  }
  