.message-item {
    background-color: #2f3640;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    max-width: 70%;
    word-wrap: break-word;
    position: relative;
}

.message-item.user {
    align-self: flex-end;
    background-color: #2aa338;
}
